:root {
    --primary-color:  #293251;
    --secondary-color: wheat;
    --contrast-color: rgb(207, 188, 152);
}

.buttons {
    display: flex;
    align-self: center;
    justify-items: center;
}

#timer, #countdown, #currentTime {
    cursor: auto;
}

#timer:hover, 
#countdown:hover, 
#currentTime:hover {
    background-color: var(--contrast-color);
}

.buttons input {
    
    background-color: var(--contrast-color);
    margin: 30px 20px 0;
    width: 50%;
}

input {
    padding: 10px;
    margin-top: 15px;
    width: 50%;

    background-color: var(--constrast-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.4rem;

    outline: none;

    cursor: pointer;
    transition: 400ms;

    appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
}

.buttons input:hover {
    background-color: var(--secondary-color);
}

@media (min-width:700px) {
    .buttons input {
        width: 70px;
    }
}